<img src="./imgs/3575794.jpg" class="portada">

<section class="section-pagos">
    <h2>MEDIOS DE PAGO</h2>
    <img src="./imgs/mediosDePago.png" class="medios-de-pago">
    <p class="textos">12 CUOTAS SIN INTERES!</p>
</section>

<section class="section-newsletter">
    <div class="div-mensaje-newsletter">
        <h3 class="titulo-newsletter">NEWSLETTER</h2>
        <p class="texto-newsletter">Para recibir descuentos y enterarte de nuevos lanzamientos, ingresa tu mail para no perderte nada!</p>
    </div>
    <form class="form-newsletter">
        <input id="form-email" type="email" name="email" placeholder="Correo electronico..." class="input-newsletter"/>
        <input type="submit" value="Enviar Datos" class="boton-enviar"/>
    </form>
</section>